<ng-container>
  <header class="masthead bg-warning text-white text-center">

    <div class="container d-flex align-items-center flex-column">
      <div class="row">
        <div class="col-3">
          <img class="masthead-avatar mb-5" [style]="image.style" [src]="image.src" alt="" /> <!-- {"borderRadius": "50%","border":" 5px solid #4f4f53"}-->
          <!--<h2 class="masthead-heading text-uppercase mb-0 mt-3"> <a
            href="./assets/pdf/resume.pdf" target="_blank"
            >Resume Here</a></h2> --><!--style={{"color": "white", "textDecoration": "none"}}-->
          <!--<div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
          </div>-->
        </div>
        <div class="col-9 mt-5">
          <p class="masthead-subheading font-weight-light mb-0">{{description}}</p>
        </div>
      </div>

    </div>
  </header>
</ng-container>
