.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.2rem;
  background: -webkit-linear-gradient(315deg, #736127 0%, #ffb600 100%);
  border-radius: 1rem;
  border-color: #2c3e50;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 0px;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 0px;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50;
  font-size: 2rem;
  margin: 6px;
  margin-bottom: 14px;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff;
}

code {
  color: #2c3e50;
}
